.first-section {
  padding-top: 20px;

  @media (min-width: $tabletWidth) {
    padding-top: 50px;
  }

  @media (min-width: $smDesktopWidth) {
    padding-top: 80px;
  }

  @media (min-width: $desktopWidth) {
    padding-top: 100px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}