.signup-section {
  position: relative;
  padding-top: 16px;

  @media (min-width: $tabletWidth) {
    padding-top: 32px;
  }

  @media (min-width: $smDesktopWidth) {
    padding-top: 64px;
  }

  h2 {
    margin-bottom: 32px;
  }

  .signup-form {
    width: 280px;
    display: flex;
    flex-direction: column;

    .form-item {
      margin-bottom: 20px;
    }
  }

  #signup-image {
    position: absolute;
    right: 18%;
    display: none;

    @media (min-width: $tabletWidth) {
      display: block;
      width: 300px;
      height: auto;
      top: 25%;
    }

    @media (min-width: $smDesktopWidth) {
      top: 0;
      width: auto;
    }

    @media (min-width: $desktopWidth) {
      right: 15%;
    }
  }
}