.footer {
  border-top: 1px solid $neutralColor;
  margin-top: 32px;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;


  @media (min-width: $tabletWidth) {
    margin-top: 64px;
  }

  @media (min-width: $smDesktopWidth) {
    margin-top: 100px;
  }

  &__text {
    color: rgba(0, 0, 0, .5);
    text-align: center;
  }
}