.textfield-main {
  .MuiFormLabel-root, .MuiInputBase-root {
    font-size: 1.4rem !important;
  }


  .PrivateNotchedOutline-legendLabelled-3, .PrivateNotchedOutline-legendLabelled-15 {
    font-size: 1.1rem !important;
  }
}

.textfield-small {
  @extend .textfield-main;

  width: 120px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}