.user-analysis-section {

  .analysis-text {
    padding-top: 22px;
    padding-bottom: 32px;

    &__item {
      margin-top: 10px;
    }
  }

  .donut-chart {
    max-width: 600px;
    margin-top: 32px;
  }

  .analysis-tariff {
    display: flex;
    flex-direction: column;

    &__mark {
      margin-left: 10px;
    }

    &__title {
      margin-top: 16px;
      margin-bottom: 24px;
    }

    &__item {
      display: flex;
      align-items: center;
      margin-right: 40px;
    }
  }


  .analysis-efficiency {

    h3 {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .analysis-check {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 768px) {
        justify-content: space-around;
      }
    }
  }

}