// Font
$mainFont                : 'Open Sans', sans-serif;
$mainFontColor           : #222222;
$lightFontColor          : #FFFFFF;

// Size
$desktopWidth            : 1440px;
$smDesktopWidth          : 1024px;
$tabletWidth             : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$bgColor                 : #ffffff;
$primaryColor            : #3f51b5;
$neutralColor            : #e0e0e0;

