.user-statistics-section {
  padding-top: 64px;

  .content-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .box-info {
    height: 100%;
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (max-width: 1254px) {
      margin-top: 32px;
      padding: 32px;
    }

    &__title {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    &__text {
      margin-bottom: 8px;
    }

    &__subject {
      font-weight: 600;
    }

    .main-btn {
      margin-top: 16px;
      width: 100%;
    }
  }

  h2 {
    margin-bottom: 32px;
  }

  h4 {
    margin-top: 8px;
  }

  h4 + h4 {
    margin-bottom: 20px;
  }

  .donut-chart {
    //width: 600px;
    max-width: 600px;
  }

  .bar-chart {
    margin-top: 64px;
  }
}